@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/AboutUsStyle.css">


<section class="our-webcoderskull padding-lg">
    <div class="row heading heading-icon">
        <h2>We are team loki</h2>
    </div>
    <div class="container">
        <ul class="row">
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 349px;">
                    <figure><img src="~/img/aboutUs/gentriti.jpg" class="img-responsive" alt=""></figure>
                    <h3>Gentrit Gashi</h3>
                    <p>Software Developer</p>
                    <ul class="follow-us clearfix">
                        <li><a href="https://github.com/GentritGashi9" target="_blank"><i class="fab fa-github"></i></a></li>
                    </ul>
                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 349px;">
                    <figure><img img src="~/img/aboutUs/drilindi.jpg" class="img-responsive" alt=""></figure>
                    <h3>Drilind Olluri</h3>
                    <p>Software Developer</p>
                    <ul class="follow-us clearfix">
                        <li><a href="https://github.com/drilind1" target="_blank"><i class="fab fa-github"></i></a></li>
                    </ul>
                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 349px;">
                    <figure><img src="~/img/aboutUs/erina.jpg" class="img-responsive" alt=""></figure>
                    <h3>Erinë Gashi</h3>
                    <p>Software Developer</p>
                    <ul class="follow-us clearfix">
                        <li><a href="https://github.com/ringash" target="_blank"><i class="fab fa-github"></i></a></li>
                    </ul>
                </div>
            </li>
            <li class="col-12 col-md-6 col-lg-3">
                <div class="cnt-block equal-hight" style="height: 349px;">
                    <figure><img src="~/img/aboutUs/berati.jpg" class="img-responsive" alt=""></figure>
                    <h3>Berat Dullaj</h3>
                    <p>Software Developer</p>
                    <ul class="follow-us clearfix">
                        <li><a href="https://github.com/Beratdullaj" target="_blank"><i class="fab fa-github"></i></a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</section>