@{

}
<div class="container" style="min-height:100vh">
    <div class="text-center tableAdmin">
        <div class="text-center yellowsite">
            <h4>Teams that asked for a match with your team:</h4>
            <h4><small>Choose you adversary team , you can refuse the requst or accept it!</small></h4>
        </div>
        <hr />
        <div class="table-responsive">
            <table id="DT_loadPending" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Match Name</th>
                        <th>Details</th>
                        <th>Accept</th>
                        <th>Refuse</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    
</div>


@section Scripts{
    <script src="~/Swal/ListAllPendingTeamsAcceptMatches.js"></script>

    <script>
        $(document).ready(function () {
            loadDataTablePending();
        });
    </script>

}
