@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <div class="text-center" style="margin-bottom:30px">
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <h4 class="text-danger">You do not have access to this resource.</h4>
        <img class="img-responsive" src="~/img/AccessDenied/AccessDenied.png"/>
    </div>
</header>
