@page
@model ConfirmEmailPlease
@{
    ViewData["Title"] = "Confirm Your Email!";
}

<div class="confirmEmailPlease" style="text-align:center">
    <div class="confirmEmailData">
        <h1 class="text-warning">@ViewData["Title"]</h1>
        <p class="text-warning">Please look on your Email Accoun we've sent you an Email, so you can
            confrim
            your Email!</p>
    </div>

</div>
