@page
@model ConfirmEmailPlease
@{
    ViewData["Title"] = "Confirm Email Please!";
}

<header>
    <h1 class="text-warning">@ViewData["Title"]</h1>
    <p class="text-warning">Please look on your Email Account(Gmail or other) we've sent you an Email, so you can reset your password!</p>
</header>
